* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ol li {
  list-style: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  max-width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo {
  max-width: 50px;
  height: auto;
}
.logo img {
  max-width: 100%;
}
@media (min-width: 551px) {
  .logo {
    max-width: 60px;
  }
}
@media (min-width: 841px) {
  .logo {
    max-width: 80px;
  }
}

.container {
  padding: 0 15px;
}
@media (min-width: 551px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 841px) {
  .container {
    padding: 0 80px;
  }
}

.title {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2em;
}
@media (min-width: 841px) {
  .title {
    font-size: 20px;
  }
}

.info {
  text-align: center;
}
.info__icon img {
  max-width: 30px;
  height: auto;
}
@media (min-width: 841px) {
  .info__icon img {
    max-width: 50px;
  }
}
.info__title {
  padding: 15px 0;
}
.info__text {
  text-align: justify;
  font-size: 14px;
  line-height: 1.5;
  color: #848789;
}
.info__line {
  max-width: 30px;
  min-height: 15px;
  border-bottom: 1px solid #848789;
  margin: 0 auto;
}
@media (min-width: 841px) {
  .info__line {
    max-width: 50px;
  }
}

.menu {
  background: url("./img/bg_menu.jpg") 50%/cover no-repeat, #e6fae4e3;
  min-height: 300px;
}
@media (min-width: 551px) {
  .menu {
    min-height: 500px;
  }
}
@media (min-width: 841px) {
  .menu {
    min-height: 700px;
  }
}
.menu__row {
  margin: 40px 25px 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.menu__logo {
  position: absolute;
  top: 16px;
  left: 45%;
}
@media (min-width: 551px) {
  .menu__row {
    max-width: 551px;
    margin: 35px auto 0;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__logo {
    position: static;
  }
}
@media (min-width: 841px) {
  .menu__row {
    max-width: 650px;
  }
}
.menu__btn {
  padding: 0 5px;
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
}
@media (min-width: 841px) {
  .menu__btn {
    font-size: 14px;
    font-weight: 700;
  }
}
.menu__logo {
  padding: 0 5px;
}

.begin {
  background: #a1cc9d96;
  text-align: center;
  padding: 50px 0;
}
@media (min-width: 551px) {
  .begin {
    padding: 70px 0;
  }
}
@media (min-width: 841px) {
  .begin {
    padding: 90px 0;
  }
}
.begin .container {
  margin: 0 auto;
}
.begin__icon img {
  max-width: 40px;
  height: auto;
}
@media (min-width: 841px) {
  .begin__icon img {
    max-width: 60px;
    height: auto;
  }
}
.begin__title {
  padding: 15px 0;
}
@media (min-width: 841px) {
  .begin__title {
    padding: 20px 0;
  }
}
.begin__text {
  font-size: 14px;
  color: #848789;
  line-height: 1.5;
}
@media (min-width: 841px) {
  .begin__text {
    font-size: 16px;
    line-height: 30px;
  }
}

@media (min-width: 841px) {
  .vin-oliva {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.vin-oliva .vin-oliva__img-big {
  background: url("./img/vin-oliva/big_icon.png") 15%/20% auto no-repeat, url("./img/vin-oliva/big.png") 0 0/100% auto no-repeat;
  min-height: 180px;
}
@media (min-width: 551px) {
  .vin-oliva .vin-oliva__img-big {
    min-height: 320px;
  }
}
@media (min-width: 841px) {
  .vin-oliva .vin-oliva__img-big {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.666%;
            flex: 0 1 66.666%;
    background: url("./img/vin-oliva/big_icon.png") 50%/15% auto no-repeat, url("./img/vin-oliva/big.png") 50%/cover no-repeat;
  }
}
@media (min-width: 841px) {
  .vin-oliva .vin-oliva__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.666%;
            flex: 0 1 33.666%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.vin-oliva .vin-oliva__info {
  padding: 30px 15px;
}
@media (min-width: 551px) {
  .vin-oliva .vin-oliva__info {
    padding: 40px 30px;
  }
}
.vin-oliva .vin-oliva__img-small img {
  width: 100%;
  height: auto;
}

@media (min-width: 841px) {
  .boriosa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.boriosa__img-big {
  background: url("./img/boriosa/big_icon.png") 50%/18% auto no-repeat, url("./img/boriosa/big.png") 70%/cover no-repeat;
  min-height: 180px;
}
@media (min-width: 551px) {
  .boriosa__img-big {
    min-height: 320px;
  }
}
@media (min-width: 841px) {
  .boriosa__img-big {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.666%;
            flex: 0 1 66.666%;
    background: url("./img/boriosa/big_icon.png") 50%/18% auto no-repeat, url("./img/boriosa/big.png") 50%/cover no-repeat;
  }
}
@media (min-width: 841px) {
  .boriosa__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.666%;
            flex: 0 1 33.666%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.boriosa__info {
  padding: 30px 15px;
}
@media (min-width: 551px) {
  .boriosa__info {
    padding: 40px 30px;
  }
}
.boriosa__img-small img {
  width: 100%;
  height: auto;
}

.hulot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
}
@media (min-width: 841px) {
  .hulot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.hulot__img-big {
  background: url("./img/hulot/big_icon.png") 50%/30% auto no-repeat, url("./img/hulot/big_one.png") 50%/cover no-repeat;
  min-height: 170px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
@media (min-width: 551px) {
  .hulot__img-big {
    min-height: 300px;
  }
}
@media (min-width: 841px) {
  .hulot__img-big {
    background: url("./img/hulot/big_icon.png") 50%/25% auto no-repeat, url("./img/hulot/big_one.png") 50%/cover no-repeat;
    fleX: 0 1 33.333%;
  }
}
.hulot__column {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
@media (min-width: 841px) {
  .hulot__column {
    fleX: 0 1 33.333%;
  }
}
.hulot__info {
  padding: 30px 15px;
}
@media (min-width: 551px) {
  .hulot__info {
    padding: 40px 30px;
  }
}
.hulot__img-small img {
  width: 100%;
  height: auto;
}
.hulot__img-big2 {
  background: url("./img/hulot/big_two.jpg") 50%/cover no-repeat;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
@media (min-width: 841px) {
  .hulot__img-big2 {
    background: url("./img/hulot/big_two.jpg") 50%/cover no-repeat;
    fleX: 0 1 33.333%;
  }
}

.end {
  background: #eee;
  padding: 30px 0;
  text-align: center;
  font-size: 14px;
}
.end .container {
  margin: 0 auto;
}
@media (min-width: 841px) {
  .end {
    font-size: 24px;
    padding: 50px 0;
  }
}
.end__icon {
  margin: 0 auto;
}
.end__icon img {
  max-width: 30px;
  height: auto;
}
.end__title {
  color: #000;
  font-weight: 700;
  padding: 15px 0;
}
.end__title span {
  color: #848789;
  font-weight: 200;
}
@media (min-width: 841px) {
  .end__title {
    padding: 30px 0 20px;
  }
}
.end__text {
  color: #848789;
  font-style: italic;
}
@media (min-width: 841px) {
  .end__text {
    line-height: 34px;
  }
}
.end__point {
  padding: 20px 0 0;
}
@media (min-width: 841px) {
  .end__point {
    padding: 60px 0 0;
  }
}
.end__point img {
  max-width: 10px;
  height: auto;
}

.images .images__big-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 841px) {
  .images .images__big-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.images .images__small-row-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.images .images__small-row-one img {
  width: 100%;
  height: auto;
}
.images .images__small-row-one .images__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.666%;
          flex: 0 1 66.666%;
}
.images .images__small-row-one .images__horisontal {
  width: 100%;
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.images .images__small-row-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.images .images__small-row-two img {
  width: 100%;
  height: auto;
}
.images .images__small-row-two .images__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.666%;
          flex: 0 1 66.666%;
}
.images .images__small-row-two .images__horisontal {
  background: url("./img/images/icon.png") 50%/20% auto no-repeat, url("./img/images/bg.png") 0 0/100% auto, url("./img/images/1_hor.png") 0 0/100% auto;
  height: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.images .images__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.images .images__sqrt {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.images .images__sqrt img {
  width: 100%;
  height: auto;
}
.images .images__vertical {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.discover {
  background: #000;
  padding: 30px 50px;
  padding: 75px 50px;
}
.discover__text {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.2em;
  font-weight: 700;
  color: #fff;
  padding: 15px 0;
  border: 1px solid rgba(252, 255, 251, 0.699);
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}
@media (min-width: 841px) {
  .discover__text {
    font-size: 14px;
    padding: 20px 0;
  }
}

.email {
  margin: 0 auto;
  padding: 50px 15px;
}
@media (min-width: 841px) {
  .email {
    padding: 90px 30px;
  }
}
.email .email__logo {
  margin: 0 auto;
}
.email .email__text {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: #848789;
  padding: 15px 0;
}
@media (min-width: 841px) {
  .email .email__text {
    font-size: 24px;
    padding: 40px 0;
  }
}
.email .email__form {
  margin: 0 auto;
}
.email .email__form .email__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -2px;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 841px) {
  .email .email__form .email__row {
    min-width: 400px;
    margin: 0 -4px;
    flex-direction: row;
  }
}
.email .email__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
  padding: 0 2px;
  border: 1px solid #d3d7d9;
}
@media (min-width: 841px) {
  .email .email__input {
    padding: 0 4px;
    display: flex;
    align-items: center;
  }
}
.email .email__input input {
  padding: 10px;
  font-style: italic;
  color: #848789;
  font-size: 12px;
}
.email .email__input input:focus {
  color: #000;
}
@media (min-width: 841px) {
  .email .email__input input {
    padding: 10px 20px;
    font-size: 16px;
  }
}
.email .email__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 2px;
  display: flex;
  align-items: center;
  background: rgba(11, 77, 28, 0.815);
  justify-content: center;
}
@media (min-width: 841px) {
  .email .email__btn {
    padding: 0 4px;
  }
}
.email .email__btn .email__btn-style {
  text-align: center;
  padding: 8px;
}
.email .email__btn button {
  text-transform: uppercase;
  background: none;
  color: #fff;
  font-size: 10px;
}
@media (min-width: 841px) {
  .email .email__btn button {
    font-size: 14px;
    padding: 11px;
  }
}

.footer {
  background: #eee;
}
.footer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0;
}
@media (min-width: 841px) {
  .footer_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 90px 0;
  }
}
.footer__info {
  font-style: italic;
  font-size: 12px;
  color: #848789;
  padding: 10px 0;
}
.footer__info p:first-child {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}
@media (min-width: 841px) {
  .footer__info {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 37%;
            flex: 1 1 37%;
  }
}
.footer .footer__contacts {
  padding: 10px 0;
  margin: 0 auto;
}
.footer .footer__contacts a {
  padding: 0px 5px;
}
.footer .footer__contacts a img {
  min-width: 35px;
}
@media (min-width: 841px) {
  .footer .footer__contacts {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 26%;
            flex: 1 1 26%;
    text-align: center;
    padding: 0;
  }
}
.footer .footer__brend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 841px) {
  .footer .footer__brend {
    padding: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 37%;
            flex: 1 1 37%;
  }
}
.footer .footer__by {
  font-style: italic;
  font-size: 12px;
  color: #848789;
  padding: 0 5px;
}
@media (min-width: 841px) {
  .footer .footer__by {
    padding: 0 10px 0 0;
  }
}